.home #navbar {
  background: rgb(255, 213, 0);
}
.home #navbar .navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home #navbar .navbar__container .navbar__logo {
  width: 100px;
}
.home #navbar .navbar__container .navbar__menu {
  display: inline-flex;
  align-items: center;
}
.home #navbar .navbar__container .navbar__menu li .navbar__link {
  display: block;
  padding: 15px 10px;
  font-size: 1rem;
  font-family: robotoBold, sans-serif;
}
.home #navbar .navbar__container .navbar__menu li .navbar__link span {
  display: inline-block;
  padding: 0 2px;
}
.home #navbar .navbar__container .navbar__menu li .navbar__link:last-child {
  padding-right: 0;
  padding-left: 30px;
}
.home .filter {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.home .filter__textbox {
  border: 1px solid grey;
  width: 550px;
  display: inline-block;
  border-radius: 3px;
  padding: 8px;
  height: 40px;
}
.home .filter .btn-search {
  background-color: rgb(255, 213, 0);
  font-family: robotoBold, sans-serif;
  letter-spacing: 2px;
}
.home .btn-add-new {
  background-color: rgb(255, 213, 0);
  font-family: robotoBold, sans-serif;
  letter-spacing: 2px;
  padding: 10px 10px;
  border-radius: 3px;
  margin: 0 0 20px 0;
}
.home table {
  width: 100%;
  border-collapse: collapse;
}
.home table tr th, .home table tr td {
  border: 1px solid black;
  min-width: 50px;
  text-align: center;
  padding: 5px 0;
}
.home table tr td .btn {
  color: #fff;
  background-color: rgb(255, 213, 0);
}
.home table tr td .btn.btn-delete {
  background-color: #d0021c;
}

#modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.21);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#modal.active {
  display: flex;
}
#modal .modal__body {
  background-color: #fff;
  width: 620px;
  padding: 20px;
  border-radius: 10px;
}
#modal .modal__body .modal__heading {
  font-size: 25px;
  font-family: robotoBold, sans-serif;
}
#modal .modal__body .divide {
  height: 3px;
  background-color: black;
  margin: 10px 0;
}
#modal .modal__body .form__container label {
  display: block;
  font-size: 15px;
  margin: 20px 0 5px 0;
}
#modal .modal__body .form__container label span {
  color: red;
}
#modal .modal__body .form__container input:not(input[type=file]) {
  border: 0.5px solid rgb(198, 195, 195);
  border-radius: 3px;
  padding: 8px;
  height: 35px;
  width: 100%;
}
#modal .modal__body .form__container .error {
  color: red;
  text-align: left;
  margin: 10px 0 0 0;
}
#modal .modal__body .form__container select {
  border: 0.5px solid rgb(198, 195, 195);
  border-radius: 3px;
  padding: 8px;
  height: 35px;
  width: 100%;
}
#modal .modal__body p {
  text-align: center;
  margin-top: 10px;
}
#modal .modal__body p .btn {
  background-color: #d0021c;
  color: #fff;
  margin: 0 5px;
  font-family: robotoBold, sans-serif;
  width: 100px;
}
#modal .modal__body p .btn:nth-child(1) {
  background-color: #666;
}