$c-yellow: rgb(255, 213, 0);
$c-yellow-light: #fffdef;
$c-gray: #333;
$c-grey: #666;
$c-white: #fff;
$c-black: #000;
$c-red: #d0021c;
$c-red-light: #de4458;

.home {
  #navbar {
    background: $c-yellow;
    .navbar__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .navbar__logo {
        width: 100px;
      }
      .navbar__menu {
        display: inline-flex;
        align-items: center;
        li {
          .navbar__link {
            display: block;
            padding: 15px 10px;
            font-size: 1rem;
            font-family: robotoBold, sans-serif;

            span {
              display: inline-block;
              padding: 0 2px;
            }
            &:last-child {
              padding-right: 0;
              padding-left: 30px;
            }
          }
        }
      }
    }
  }

  
  .filter{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    &__textbox{
      border: 1px solid grey;
      width: 550px;
      display: inline-block;
      border-radius: 3px;
      padding: 8px;
      height: 40px;
    }
    .btn-search{
      background-color: $c-yellow;
      font-family: robotoBold,sans-serif;
      letter-spacing: 2px;
    }
  }
  .btn-add-new{
    background-color: $c-yellow;
      font-family: robotoBold,sans-serif;
      letter-spacing: 2px;  
      padding: 10px 10px;
      border-radius: 3px;
      margin: 0 0 20px 0;
  }
  

  table{
    width: 100%;
    border-collapse: collapse;
    tr{
      
      th,td{
        border: 1px solid black;
        min-width: 50px;
        text-align: center;
        padding: 5px 0;
      }
      td{
        .btn{
          color: $c-white;
          background-color: $c-yellow;
          &.btn-delete{
            background-color: $c-red;
          }
        }
      }
    }
  }
}

#modal{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.21);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  &.active{
    display: flex;
  }
  .modal__body{
    background-color: $c-white;
    width: 620px;
    padding: 20px;
    border-radius: 10px;
    .modal__heading{
      font-size: 25px;
      font-family: robotoBold, sans-serif;
    }
    .divide{
      height: 3px;
      background-color: black;
      margin: 10px 0;
    }
    .form__container{
      
      label{
        display: block;
        font-size: 15px;
        margin: 20px 0 5px 0;
        span{
          color: red;
        }
        &.btn-upload{
          background-color: $c-yellow-light;
          border: 1px solid black;
          border-radius: 5px;
          letter-spacing: 2px;
          width: 20%;
        }
      }
      input:not(input[type="file"]){
        border: 0.5px solid rgb(198,195,195);
        border-radius: 3px;
        padding: 8px;
        height: 35px;
        width: 100%;
      }
      .error{
        color: red;
        text-align: left;
        margin: 10px 0 0 0;
      }
      select{
        border: 0.5px solid rgb(198,195,195);
        border-radius: 3px;
        padding: 8px;
        height: 35px;
        width: 100%;
      }
    }
    p{
      text-align: center;
      margin-top:10px;
      .btn{
        background-color: $c-red;
        color: #fff;
        margin: 0 5px;
        font-family: robotoBold, sans-serif;
        width: 100px;
        &:nth-child(1){
          background-color: $c-grey;
        }
      }
    }

  }
}
