$c-yellow: rgb(255, 213, 0);
$c-yellow-light: #fffdef;
$c-gray: #333;
$c-grey: #666;
$c-white: #fff;
$c-black: #000;
$c-red: #d0021c;
$c-red-light: #de4458;

.home {
  // navbar
  #navbar {
    background: $c-yellow;
    .navbar__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .navbar__logo {
        width: 100px;
      }
      .navbar__menu {
        display: inline-flex;
        align-items: center;
        li {
          .navbar__link {
            display: block;
            padding: 15px 10px;
            font-size: 1rem;
            font-family: robotoBold, sans-serif;

            span {
              display: inline-block;
              padding: 0 2px;
            }
            &:last-child {
              padding-right: 0;
              padding-left: 30px;
            }
          }
        }
      }
    }
  }

  //   promote
  #promote {
    margin: 0 0 50px 0;
    .promote__heading {
      font-size: 30px;
      font-family: robotoMedium, sans-serif;
      margin: 30px 0 30px 0;
    }
    .promote__link {
      display: block;
      overflow: hidden;
      border-radius: 10px;
      .promote__img {
        width: 100%;
      }
    }
  }

  //   products
  #products {
    .products__heading {
      font-size: 30px;
      font-family: robotoMedium, sans-serif;
      margin: 0 0 10px 0;
    }
    .products__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      & + p {
        text-align: center;
        .btn-load-more {
          display: inline-block;
          background: $c-white;
          border-radius: 5px;
          width: 200px;
          font-family: robotoMedium, sans-serif;
          letter-spacing: 2px;
          transition: 0.4s all;
          margin: 30px 0 50px 0;
          &:hover {
            background: $c-red-light;
            color: $c-white;
          }
        }
      }
      .products__item {
        flex: calc(25% - 20px);
        max-width: calc(25% - 20px);
        margin: 0 10px 30px 10px;
        padding: 30px 15px 40px 15px;
        background-color: $c-white;
        overflow: hidden;
        border-radius: 0 10px 10px 10px;
        position: relative;
        small {
          background-color: $c-red-light;
          padding: 5px 10px;
        }
        .products__img-container {
         
          display: flex;
          height: 279px;
          align-items: center;
          &:hover{
            scale: 1.15;
            transition: 0.4s all;

          }
        }
        .products__install {
          position: absolute;
          top: 0;
          left: 0;
          background: $c-red-light;
          color: $c-white;
          display: inline-block;
          padding: 5px 10px;
          border-radius: 0 0 10px 0;
        }
        .products__img {
          margin-bottom: 30px;

          a {
            display: block;
            text-align: center;
            height: 224px;
            img {
              max-width: 80%;
              display: inline-block;
            }
          }
        }
        .products__title {
          font-size: 14px;
          font-family: robotoBold, sans-serif;
          margin: 30px 0 15px 0;
        }
        .products__price {
          color: $c-red;
          font-family: robotoBlack, sans-serif;
          font-size: 15px;
          span {
            display: inline-block;
            &:last-child {
              color: #eb5757;
              background: #fff0e9;
              font-size: 13px;
              padding: 2px;
              border-radius: 5px;
              margin: 0 0 0 10px;
            }
          }
        }
        .products__rate {
          color: #fb6e2e;
          font-family: robotoMedium, sans-serif;
          font-size: 13.5px;
          span {
            display: inline-block;
            &:last-child {
              margin: 0 0 0 10px;
            }
          }
        }
      }
    }
  }

  #pagination {
    margin-top: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    .page-item {
      padding: 8px 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
      margin-right: 8px;
      min-width: 20px;
      text-align: center;
      
      &:hover{
        background-color: $c-red;
        color: white;
        cursor: pointer;
      }
    }
    li.active {
      background-color: $c-red;
      color: white;
    }
    
  }
  footer {
    background-color: $c-white;
    border-top: 1px solid rgb(233 233 233);
    .footer__body {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 30px 0;
      .footer__item {
        flex: 25%;
        max-width: 25%;
        margin: 0 0 30px 0;
        ul {
          a {
            display: block;
            padding: 5px 0;
            transition: 0.4s all;
            font-family: robotoMedium, sans-serif;
            &:hover {
              text-decoration: underline;
            }
            span {
              color: #d0021c;
              font-family: robotoBold, sans-serif;
            }
          }
        }
        .footer__payment {
          font-size: 18px;
          font-family: robotoBold, sans-serif;
          margin: 0 0 20px 0;
        }
        .verify {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;
          &__link {
            display: block;
            flex: calc(25% - 10px);
            max-width: calc(25% - 10px);
            background-color: #edeaea61;
            padding: 5px;
            border-radius: 5px;
            text-align: center;
            transition: 0.4s all;
            &:hover {
              background-color: rgb(237 234 234 / 64%);
            }
            img {
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .copyright {
    background: #f1f1f1;
    color: $c-grey;
    padding: 20px 0;
    text-align: center;
    line-height: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .home {
    #products {
      .products__list {
        .products__item {
          flex: calc(33.3333% - 20px);
          max-width: calc(33.3333% - 20px);
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .home {
    footer {
      .footer__body {
        .footer__item {
          flex: 33.333%;
          max-width: 33.333%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .home {
    #products {
      .products__list {
        .products__item {
          flex: calc(50% - 20px);
          max-width: calc(50% - 20px);
        }
      }
    }
    footer {
      .footer__body {
        .footer__item {
          flex: 50%;
          max-width: 50%;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .home {
    #navbar {
      .navbar__container {
        .navbar__menu {
          li {
            .navbar__link {
              font-size: 15px;
            }
          }
        }
      }
    }
    #promote {
      .promote__heading {
        font-size: 25px;
      }
    }
    #products {
      .products__heading {
        font-size: 25px;
      }
      .products__list {
        .products__item {
          flex: calc(100% - 20px);
          max-width: calc(100% - 20px);
        }
      }
    }
    footer {
      .footer__body {
        .footer__item {
          flex: 100%;
          max-width: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .home {
    #promote {
      .promote__heading {
        font-size: 20px;
      }
    }
    #products {
      .products__heading {
        font-size: 20px;
      }
    }
  }
}
